{% extends "auth_app/base.html" %}
{% block title %}
Log-in
{% endblock %}
{% block section %}
<div class="container col-lg-6">
<h5 class="text-center my-4">Пожалуйста, введите свои учетные данные</h5>
    <div class="form-control py-3 border-primary border-1 d-flex justify-content-center col-md-12 col-lg-offset-3" style="background: linear-gradient(to bottom, #33ccff 0%, #ccff99 100%)">
        <form class="register-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn-primary" type="submit" value="Войти">
        </form>
    </div>
</div>
{% endblock %}

